<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="bgimg-1">
      <div class="caption">
        <div class="jumbotron col-md-12">
          <h1 class="display-4">Welcome to Open Recipe Book!</h1>
          <p class="lead">You can discover recipes posted by other members or share your own recipes.</p>
        </div>
      </div>
      <div class="mytext">Developed by Mahdi Mehrazar.</div>
    </div>
  </div>
</div>