<div class="container">
    <h2>Your Profile</h2>

    <div *ngIf="user">
        <ul class="list-group">
            <li class="list-group-item">
                <h5>Username</h5> {{user.username}}</li>
            <li class="list-group-item">
                <h5>Email</h5> {{user.email}}</li>
        </ul>

        <button class="btn btn-danger" (click)="deleteConfirmationNotice = true">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete Account</button>

        <div class="alert alert-warning" *ngIf="deleteConfirmationNotice">
            <p>Are you sure you want to delete your account? All your recipes and comments will be deleted! You can not recover
                your account after deletion.</p>
            <button class="btn btn-danger" (click)="deleteAccount()">
                Delete</button>
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px" *ngIf="submitted"></i>
            <button class="btn" (click)="deleteConfirmationNotice = false">
                Cancel</button>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="user-recipes">My Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="favourite-recipes">Favourite Recipes</a>
        </li>
    </ul>

    <router-outlet></router-outlet>
</div>